body {
  background-color: rgb(69, 68, 68);
}
.App {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
h1 {
  text-align: center;
  color: white;
}
.GameBox {
  display: flex;
  justify-content: center;
  align-content: center;
}

.MiniPlayer {
  width: 305px;
  height: 210px;
  background-color: rgb(178, 176, 176);
  border: 4px solid black;
}
.Hurdle-cell{
  background-color: #C1C1C1;
  width: 45px;
  height: 95px;
  padding-left: 3px;
}
.Instructions{
  display: flex;
  justify-content: center;
  align-content: center;
}
.Instruction-box{
  width: 305px;
  background-color: rgb(178, 176, 176);
  border: 4px solid black;
}

.Hurdle-img{
  width: 45px;
  height: 95px;
}
.Space-cell{
  background-color: #C1C1C1;
  width: 45px;
  height: 45px;
  padding-left: 1px;
  padding-top: 2px;
}
.Space-img{
  padding: 0px;
  margin: 0px;
}
.Quick-cell{
  text-align: center;
  font-size: large;
  background-color: #C1C1C1;
  width: 95px;
  height: 66px;
  padding: 0px;
  margin: 0px;
}
.Quick-img{
  width: 100%;
  height: 100%;
}
